body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0px;
}


.header-main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
    display: flex;
    width: 290px;
}

.header-sub-text {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
}

.random-info-section-text {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin: 36px;
}

.header-button button {
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    padding: 12px;
    margin: 0px;
    width: 120px;
    font-weight: 600;
    cursor: pointer;
}

.footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    padding: 32px;
}

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-section-main-quote {
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 70vh;
    flex-direction: column;
    padding: 76px 36px;
}

.main-quote {
    display: flex;
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style-type: none;
    display: flex;
}

.header-text {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    margin: 8px;
}

.header-link-container {
    display: flex;
    gap: 16px;
}

.main-text-container {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.text-and-image {
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    margin: 42px;
}

#header-image {
    width: 450px;
    height: 250px;
}

#image-1,
#image-2,
#image-3,
#image-4 {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    border-style: solid;
    border-color: #3882F6;
}

.image-text-1,
.image-text-2,
.image-text-3,
.image-text-4 {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 150px;
    padding-top: 6px;
}

.image-1-container,
.image-2-container,
.image-3-container,
.image-4-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 200px;
    height: 400px;
}

.header-button {
    display: flex;
    margin-top: 12px;
}

.main-content {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.header-image {
    display: flex;
}

.random-info-section-text {
    display: flex;
    justify-content: center;
}

.random-info-images {
    display: flex;
    justify-content: center;
    gap: 45px;
}

.sign-up-section {
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    margin: 60px 250px;
    padding: 24px;
    align-items: center;
    border-radius: 10px;
}

.sign-up-section-main-text {
    color: white;
    font-weight: 400;
    display: flex;
    font-size: 24px;
}

.sign-up-section-sub-text {
    display: flex;
    color: #E5E7EB;
}

.sign-up-button {
    display: flex;
    color: white;
    background-color: #3882F6;
    padding: 8px;
    border: 2px solid white;
    border-radius: 12px;
    cursor: pointer;
    width: 120px;
    align-items: center;
    justify-content: center;
}

.sign-up-section-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sign-up-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.author {
    font-weight: bold;
    font-size: 24px;
    display: flex;
    justify-content: right;
}